PORT = "numero del puerto de conexion" || 3000

DB_TYPE= postgres   // debe ser postgresql
DB_HOST= "direccion de conexion" || localhost
DB_PORT= "puerto de conexion a postresql" || 5432
DB_USERNAME= "nombre de usuario de conexion" || postgres
DB_PASSWORD= "password de conexion a la base de datos"
DB_DATABASE= "nombre de la base de datos, debe estar creada previamente en el shell de postgres"
DB_SYNC= "sincronizacion de las tablas" || true
DB_LOGGING= ["error"]
DB_ENTITIES= src/entities/**/*.ts || [User, Credential, Appointment]
DB_DROP= "limpieza de todas las tablas cuando se levanta la app" || false
