.homeWrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
}

.titulo {
    font-size: 3rem;
    margin-bottom: -2rem;
    margin-top: -1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #fce4ec; /* un rosa claro para estilo estético */
}

.titulo2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #fce4ec;
}

.glassHeader {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 16px;
    padding: 2rem;
    margin: 1rem auto 1rem auto;
    width: fit-content;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
    transition: background 0.3s ease;
}
